{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
    <style>
        .profile-pic{
            max-width:18rem;
            max-height: 18rem;
            margin: 0 auto;
            border-radius: 50%;
        }
    </style>

    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body">
                <a class="btn btn-warning" href=" {% url 'home' %} ">&#8592; Back to Profile</a>
                <hr>
                <h3 class="profile-pic">Account Setting</h3>
                <hr>
                <div class="media">
                    <img class="card-img-top" src=" {{request.user.customer.profile_pic.url}} ">
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
    
                    <input class="btn btn-primary" type="submit" name="Update Information">
                </form>
            </div>
        </div>
    </div>
{% endblock %}